@inherits LayoutComponentBase
<div class="site-frame">
    <a class="skip-link" href="#main-content">Skip to content</a>
    <SiteHeader />
    <main id="main-content" tabindex="-1">@Body</main>
    <SiteFooter />
</div>
